$color-gris: #292929;
$color-celeste: #00bbb3;
$color-aqua:  #22d2d2;
$color-gris2: #dce6e6;
.navegador{
	z-index: 1000;
	position: absolute;
	width: 100%;
}
.centered{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 600px;
}
.center{
	margin: 0 auto;
	text-align: center;
}
.hero
{
	background: url(https://static.pexels.com/photos/36487/above-adventure-aerial-air-large.jpg);
	//background: url(https://www.google.com.pe/imgres?imgurl=http%3A%2F%2Fwallpaperlayer.com%2Fimg%2F2015%2F5%2Flovely-night-sky-wallpaper-5774-6038-hd-wallpapers.jpg&imgrefurl=http%3A%2F%2Fwallpaperlayer.com%2Flovely-night-sky-wallpaper-5774.html&docid=uhCgGLfvkR89-M&tbnid=i_x244G4cQYMoM%3A&vet=10ahUKEwjWzerZ-OzSAhVFiJAKHXpxCkEQMwh3KFMwUw..i&w=2560&h=1600&safe=active&bih=694&biw=1280&q=hd%20background%20sky%20nigth&ved=0ahUKEwjWzerZ-OzSAhVFiJAKHXpxCkEQMwh3KFMwUw&iact=mrc&uact=8#h=1600&imgdii=muS4_aA6VgPVIM:&imgrc=i_x244G4cQYMoM:&vet=10ahUKEwjWzerZ-OzSAhVFiJAKHXpxCkEQMwh3KFMwUw..i&w=2560);
	height: 600px;
	background-size: cover;
	background-attachment: fixed;
}
.particles-js-canvas-el{
  position: absolute;
  top: 0px;
}

div.container
{
    font-family: Raleway;
    width: 100%;
    height: 50px;
	text-align: right;
	margin-top: 10px;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


/* Pull up  */
div.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUp a:hover:before
{
    height: 100%;
}



