$color-gris: #292929;
$color-celeste: #00bbb3;
$color-aqua:  #22d2d2;
$color-gris2: #dce6e6;

*{
	/*outline: 1px solid gray;*/
}
.icon-bar{
	color: $color-aqua;
}
.centered{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 600px;
}
.center{
	margin: 0 auto;
	text-align: center;
}
.hero
{
	background: url(../img/fondo.jpg);
	height: 600px;
	background-size: cover;
	background-attachment: fixed;
}
